---
title: HIRO people
permalink: people.html
type: people
description: "List of members of the Human Interaction and RObotics group"
roles:
 - faculty
 - labmanager
 - postdoc
 - phd
 - grad
 - undergrad
 - collaborator
 - alumni
---

<section id="post-cv">
    <div class="container">
        <div id="article">

        {% include image.html url="group_pics/latest.jpg" max-width="100%" description="Group picture taken at the end of Spring 2022 semester. Back Row, From Left to Right: Anuj, Joewie, Gilberto, and Kaleb; Front Row, From Left to Right: Nataliya, Clare, Caleb, Alessandro, Yi-Shiuan, Matthew. The only people missing were Shiran, Stephane, and Mary--all on travel." %}

        {% include ppl.html role="faculty" size="big" %}

        {% assign labmanager = site.data.people | where:"role","labmanager" %}
        {% if labmanager != blank %}
        <h1>Lab Manager</h1>

        {% include ppl.html role="labmanager" %}
        {% endif %}

        {% assign postdoc = site.data.people | where:"role","postdoc" %}
        {% if postdoc != blank %}
        <h1>Postdocs</h1>

        {% include ppl.html role="postdoc" %}
        {% endif %}

        {% assign phd = site.data.people | where:"role","phd" %}
        {% if phd != blank %}
        <h1>PhD Students</h1>

        {% include ppl.html role="phd" %}
        {% endif %}

        <!-- <h1>Graduate Students</h1>

        {% include ppl.html role="grad" %} -->

        <h1>Undergraduate Research Assistants</h1>

        {% include ppl.html role="undergrad" %}

        {% assign collaborator = site.data.people | where:"role","collaborator" %}
        {% if collaborator != blank %}
        <h1>External Collaborators</h1>

        {% include ppl.html role="collaborator" %}
        {% endif %}

        {% assign alumni = site.data.people | where:"role","alumni" %}
        {% if alumni != blank %}
        <h1>Alumni</h1>

        <ul>
        {% include ppl.html role="alumni" %}
        </ul>
        {% endif %}

        </div>
    </div>
</section>



