---
permalink: publications.html
type: publications
description: "List of publications"
years:
 - 2025
 - 2024
 - 2023
 - 2022
 - 2021
 - 2020
 - 2019
 - 2018
 - 2017
 - 2016
 - 2015
 - 2014
---

<section id="post-cv">
    <div class="container">
        <div id="article">

        <div style="text-align:center">
            <div class="pub-thesis" style="padding: 10px; display:inline-block">Thesis/Book</div>
            <div class="pub-journal" style="padding: 10px; display:inline-block">Journal Article</div>
            <div class="pub-conference" style="padding: 10px; display:inline-block">Conference Paper</div>
            <div class="pub-workshop" style="padding: 10px; display:inline-block">Workshop Paper</div>
        </div>

        {% for y in page.years %}
            <h1>{{ y }}</h1>
            {% include pubs.html year=y subteam="book" publications=site.data.publications %}
            {% include pubs.html year=y subteam="thesis" publications=site.data.publications %}
            {% include pubs.html year=y subteam="journal" publications=site.data.publications %}
            {% include pubs.html year=y subteam="conference" publications=site.data.publications %}
            {% include pubs.html year=y subteam="workshop" publications=site.data.publications %}
            {% include pubs.html year=y subteam="other" publications=site.data.publications %}
        {% endfor %}

        </div>
    </div>
</section>
