---
permalink: research.html
type: research
title: "research"
subtypes: [algorithmic and social hri, control and artificial skin,learning and modeling]
---

At the HIRO Group, we perform research at the intersection _human-robot interaction_, _artificial intelligence_, and _robot control & planning_ with the goal of **developing robot technologies that enable close, natural, and extended cooperation with humans**.
Our research effort is divided in three, partially overlapping, tightly coupled subteams. They are highlighted below.


## Algorithmic and Social HRI
---

Point of Contact: [Kaleb Bishop](https://kalebishop.github.io/), Clare Lorhmann, Yi-Shiuan Tung

DESCRIPTION HERE

<div class="row">
    {% assign subtype = page.subtypes[0] %}
    {% include post-sorter.html subtype=subtype %}
</div>

## Control and Artificial Skin
---

Point of Contact: [Caleb Escobedo](https://hiro-group.ronc.one/caleb.html), Mary West

DESCRIPTION HERE

<div class="row">
    {% assign subtype = page.subtypes[1] %}
    {% include post-sorter.html subtype=subtype %}
</div>

## Learning and Modeling
---

Point of Contact: [Joewie Koh](https://hiro-group.ronc.one/joewie.html), [Anuj Pasricha](https://hiro-group.ronc.one/anuj.html), Guohui Ding, Stéphane Aroca-Ouellette, Yi-Shiuan Tung

DESCRIPTION HERE

<div class="row">
    {% assign subtype = page.subtypes[2] %}
    {% include post-sorter.html subtype=subtype %}
</div>
