---
permalink: research.html
type: research
title: "HIRO Research"
subtypes: [algorithmic and social hri, control and artificial skin,learning and modeling]
---

At the HIRO Group, we perform research at the intersection _human-robot interaction_, _artificial intelligence_, and _robot control & planning_ with the goal of **developing robot technologies that enable close, natural, and extended cooperation with humans**.
Our research effort is divided in three, partially overlapping, tightly coupled subteams. They are highlighted below.

## Control and Artificial Skin
---

Point of Contact: [Caleb Escobedo]({% post_url people/2019-10-10-caleb %}), Mary West, Nataliya Nechyporenko

{% include image.html url="research/roboskin/sensor_units.jpg" max-width="55%" %}

In this subteam, we focus on ensuring that humans and robots can interact safely by simultaneously developing **novel sensing hardware** and **motion control frameworks**.
The hardware component of this project has led to the development of modular sensor units that can be positioned anywhere on the surface of a robot manipulator to gather information about the robot’s immediate surroundings.
Using the information provided by our sensor units, we have developed a control framework that allows robot manipulators to anticipate, detect, and react to external contact that could otherwise be harmful.
[[Read More]]({{ site.url }}/subteam/control-artificial-skin)

## Learning, Modeling, and Robotics
---

Point of Contact: [Joewie J. Koh](https://joewiekoh.com), [Anuj Pasricha]({% post_url people/2019-10-13-anuj %}), Stéphane Aroca-Ouellette, Gilberto Briscoe-Martinez

{% include image.html url="research/npm/poking.jpg" max-width="55%" %}

Our goal is to catalyze tangible and substantial improvements in robot capabilities, especially in human–robot scenarios, with research at the confluence of learning, modeling, and robotics.
We accomplish this from two perspectives:

 1. We leverage recent advances in learning and modeling to develop accessible and generalizable robot technologies.

 2. We draw upon our expertise in robotics and human–robot interaction to inform foundational research in artificial intelligence---particularly in natural language processing and reinforcement learning.
 
[[Read More]]({{ site.url }}/subteam/learning-modeling-robotics)

## Algorithmic and Social HRI
---

Point of Contact: [Kaleb Bishop](https://kalebishop.github.io/), Clare Lorhmann, Yi-Shiuan Tung, Stéphane Aroca-Ouellette

{% include image.html url="research/isat.jpg" max-width="70%" %}

The goal of this subteam is to create robot behaviors that promote safer, reliable, and effective interactions with humans.
We use an interdisciplinary approach, leveraging work from cognitive learning theory, cumulative prospect theory, social psychology, and experimental economics to conduct foundational research in human-robot interaction and collaboration.
[[Read More]]({{ site.url }}/subteam/algorithmic-social-hri)
