   <!-- Navigation -->
    <nav id="navbar-scrollspy" class="navbar fixed-top navbar-expand-xl no-print">
        <div class="container">
        <a class="navbar-brand" href="{% if page.type == "research" %}#page-top{% else %}/{% endif %}">
        </a>
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto w-100 justify-content-end">
                <li class="d-none">
                    <a class="nav-link" href="/"></a>
                </li>

		<li class="nav-item page-scroll dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Research </a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          			<a class="dropdown-item" href="/research.html">Overview</a>
          			<a class="dropdown-item" href="/oivio">OIVIO</a>
                <a class="dropdown-item" href="/sunspot">SUNSPOT</a>
                <a class="dropdown-item" href="/cps-1646556">Verified Control</a>
       			 </div>
      		</li>

                {% if page.id == "people" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#post-cv">people</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/people.html">people</a>
                </li>
                {% endif %}

                {% if page.id == "publications" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#post-cv">publications</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/publications.html">publications</a>
                </li>
                {% endif %}

		{% if page.id == "contact" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#post-cv">contact</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
                {% endif %}

            </ul>
        </div>
        </div>
    </nav>

    <!-- Header -->
    {% if page.type != "article" and page.type != "fourofour" %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="logo-img" src="{{ site.logo }}" alt="{{ site.owner-short }}-logo">
                    <div class="intro-text">
                        {% if page.type == "research" %}<span class="name logo-alt">{{ site.owner }}</span>
                        {% else %}<span class="name">{% if page.title %}{{ page.title }}{% else %}{{ page.type }}{% endif %}</span>
                        {% endif %}

                        <!-- <hr class="separating-line"> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    {% if site.banner %}
        {% if site.banner-link %}<a href="{{ site.url }}/{{ site.banner-link }}" target="_blank">{% endif %}
        <div class="site-banner alert alert-danger" role="alert">{{ site.banner }}{% if site.banner-link %} [LINK]{% endif %}</div>
        {% if site.banner-link %}</a>{% endif %}
    {% endif %}


