   <!-- Navigation -->
    <nav id="navbar-scrollspy" class="navbar fixed-top navbar-expand-xl no-print">
        <div class="container">
        <a class="navbar-brand" href="{% if page.type == "home" %}#page-top{% else %}/{% endif %}">
        </a>
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto w-100 justify-content-end">
                <li class="d-none">
                    <a class="nav-link" href="#page-top"></a>
                </li>

                {% if page.type == "news" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#news">news</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/news.html">news</a>
                </li>
                {% endif %}

                {% if page.type == "people" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#post-cv">people</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/people.html">people</a>
                </li>
                {% endif %}

                {% if page.type == "research" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#research">research</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/research.html">research</a>
                </li>
                {% endif %}

                {% if page.type == "publications" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#post-cv">publications</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/publications.html">publications</a>
                </li>
                {% endif %}

                {% if page.type == "wiki" %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="#wiki">wiki</a>
                </li>
                {% else %}
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/wiki.html">wiki</a>
                </li>
                {% endif %}

                <li class="nav-item page-scroll">
                    <a class="nav-link" href="/join_us.html">join us!</a>
                </li>

            </ul>
        </div>
        </div>
    </nav>

    <!-- Header -->
    {% if page.type != "article" and page.type != "fourofour" %}
    <header>
        <div class="container {% if page.type != "cv" %}bottom-border{% endif %}">
            <div class="row">
                <div class="col-lg-12">
                    {% if page.type == "cv" %}
                        <img class="img-fluid no-print with-shadow-on-hover cv-img" src="/img/people/{{page.pic}}" alt="{{page.title}}">
                        <div class="intro-text">
                            <span class="name no-print">{{ page.title }}</span>
                            <hr class="separating-line no-print">
                            <span class="owner no-print">{{ page.description }}</span>
                        </div>
                    {% else %}
                        <img class="img-fluid logo-img" src="{{ site.logo3 }}" alt="{{ site.owner-short }}-logo">
                        <div class="intro-text">
                            {% if page.type == "home" %}<span class="name logo-alt">{{ site.owner }}</span>
                            {% else %}<span class="name">{% if page.title %}{{ page.title }}{% else %}{{ page.type }}{% endif %}</span>
                            {% endif %}

                            <!-- <hr class="separating-line"> -->
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    {% if site.banner %}
        {% if site.banner-link %}<a href="{{ site.url }}/{{ site.banner-link }}" target="_blank">{% endif %}
        <div class="site-banner alert alert-danger" role="alert">{{ site.banner }}{% if site.banner-link %} [LINK]{% endif %}</div>
        {% if site.banner-link %}</a>{% endif %}
    {% endif %}


