    <!-- jQuery Version 3.2.1 -->
    <script src="{{ "/js/jquery-3.3.1.slim.min.js" }}"></script>

    <!-- Bootstrap Core JavaScript + Popper -->
    <script src="{{ "/js/bootstrap.bundle.min.js" }}"></script>

    <script>
      // cbpAnimatedHeader.js v1.0.0
      var cbpAnimatedHeader = (function() {

        var docElem = document.documentElement,
          navbar = document.querySelector( '.navbar' ),
          collapse = document.querySelector( '.navbar-collapse' ),
          didScroll = false,
          changeHeaderOn = 300;

        var lsy = scrollY();

        function init() {
          window.addEventListener( 'scroll', function( event ) {
            if( !didScroll ) {
              didScroll = true;
              setTimeout( scrollPage, 150 );
            }
          }, false );
        }

        function scrollPage() {
          var sy = scrollY();

          if ( sy > lsy ) {
            navbar.classList.add( 'navbar-shrink' );

            // Disable the toggler while moving down or up
            if (collapse.classList.contains('show')) {
              $('.navbar-toggler:visible').click();
            }
          }
          else {
            navbar.classList.remove( 'navbar-shrink' );
          }
          didScroll = false;
          lsy = scrollY();
        }

        function scrollY() {
          return window.pageYOffset || docElem.scrollTop;
        }

        init();

      })();
    </script>

    <script>
      // Page scrolling feature
      document.addEventListener('DOMContentLoaded', function() {
          const scrollToTopButton = document.querySelector('.page-scroll-up');

          scrollToTopButton.addEventListener('click', function(event) {
              event.preventDefault();  // Prevent the default action
              window.scrollTo({ top: 0, behavior: 'smooth' });
          });
      });

      // Highlight the top nav as scrolling occurs
      $('body').scrollspy({
          target: '#navbar-scrollspy'
      })

      // Closes the Responsive Menu on Menu Item Click
      $('.navbar-collapse ul li a').click(function() {
          $('.navbar-toggler:visible').click();
      });

      window.addEventListener("hashchange", function() { scrollBy(0, -110) });
    </script>
