
    <section id="{{ page.type }}">
        <div class="container" id="portfolio">
            <div class="row">
                {% if page.type == "home" %}
                <div class="col-lg-12" id="article" style="margin-top: 0px; {% if page.subtypes %}{% else %}margin-bottom: 40px;{% endif %}">
                    {{ content | markdownify }}
                </div>
                {% endif %}

                {% if page.subtypes %}{% assign subtypes = page.subtypes %}
                {% else %}            {% assign subtypes = "dummy" %}
                {% endif %}

                {% for subtype in subtypes %}
                    <!-- If there is a page with multiple subtypes to display,
                    defined in its front matter, we will have unique sections
                    for each subtype -->
                    {% if page.subtypes %}
                        <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 40px;" id="{{ subtype | replace: " ", "-" | downcase }}">
                            <h2>{{ subtype }}</h2>
                            <hr class="separating-line {{ page.type }}">
                        </div>
                    {% endif %}

                    <!-- subcategory is used for an article to appear in multiple pages, e.g. news and wiki, or research and wiki -->
                    {% for post in site.posts %}
                        {% if post.categories contains page.type %}
                            {% if subtype == "dummy" or subtype == post.subcategory %}
                            {% if page.type == "wiki" or post.subcategory == "news" or post.subcategory == "research" %}
                                <div class="col-md-10 mx-auto portfolio-item" {% if post.subcategory == "news" %}id="news"{% endif %}{% if post.subcategory == "research" %}id="research"{% endif %}>
                                    <a href="{{ post.url }}" class="no-border portfolio-link" style="max-width:100%">
                                        <p class="post-date">{% if post.author %}by {{ post.author }}, on {% endif %}{{ post.date | date: '%B %d, %Y' }}</p>
                                        <h3>{{ post.title }}</h3>
                                        {% if page.type == "research" %}
                                        {{ post.excerpt }}
                                        {% else %}
                                        <p>{{ post.description }}</p>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
