
    <section id="{{ page.type }}">
        <div class="container" id="portfolio">
            <div class="row">
                {% if page.type == "home" %}
                <div class="col-lg-12" id="article" style="margin-top: 0px; {% if page.subtypes %}{% else %}margin-bottom: 40px;{% endif %}">
                    {{ content | markdownify }}
                </div>
                {% endif %}

                {% if page.subtypes %}{% assign subtypes = page.subtypes %}
                {% else %}            {% assign subtypes = page.type %}
                {% endif %}

                {% for subtype in subtypes %}
                    <!-- If there is a page with multiple subtypes to display,
                    defined in its front matter, we will have unique sections
                    for each subtype -->
                    {% if page.subtypes %}
                        <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 40px;" id="{{ subtype | replace: " ", "-" | downcase }}">
                            <h2>{{ subtype }}</h2>
                            <hr class="separating-line {{ page.type }}">
                        </div>
                    {% endif %}

                    {% for category in site.categories %}
                        {% if subtype == category[0] %}
                            {% for post in category[1] %}
                                <div class="col-md-11 mx-auto portfolio-item" {% if subtype == "news" %}id="news"{% endif %}{% if subtype == "research" %}id="research"{% endif %}>
                                    <a href="{{ post.url }}" class="no-border portfolio-link" style="max-width:100%">
                                        <p class="post-date">{% if post.author %}by {{ post.author }}, on {% endif %}{{ post.date | date: '%B %d, %Y' }}</p>
                                        <h3>{{ post.title }}</h3>
                                        {% if page.type == "research" %}
                                            {% if post.image.feature %}
                                                <div class="img-container" style="margin-bottom: 12px; max-width:{% if post.image.size %} {{ post.image.size }}{% else %} 100%{% endif %};">
                                                    <img classs="img-fluid img-centered" src="/img/{{ post.image.feature }}" alt="{{ post.title }}">
                                                </div>
                                            {% endif %}
                                        {{ post.excerpt }}
                                        {% else %}
                                        <p>{{ post.description }}</p>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
