
    <section id="{{ page.type }}">
        <div class="container" id="portfolio">
            <div class="row">
                {% if page.type == "research" or  page.type == "design" %}
                <div class="col-lg-12" id="article" style="margin-top: 0px; {% if page.subtypes %}{% else %}margin-bottom: 40px;{% endif %}">
                    {{ content | markdownify }}
                </div>
                {% endif %}

                {% if page.subtypes %}{% assign subtypes = page.subtypes %}
                {% else %}            {% assign subtypes = "dummy" %}
                {% endif %}

                {% for subtype in subtypes %}
                    {% if page.subtypes %}
                        <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 40px;" id="{{ subtype | replace: " ", "-" | downcase }}">
                            <h2>{{ subtype }}</h2>
                            <hr class="separating-line {{ page.type }}">
                        </div>
                    {% endif %}

                    {% for post in site.posts %}
                        {% if post.categories contains page.type %}
                            {% if subtype == "dummy" or subtype == post.subcategory %}
                            {% if page.type == "research" %}
                                {% if post.double %}
                                <div class="col-md-3 portfolio-item"></div>
                                {% endif %}
                                <div class="col-md-6 portfolio-item">
                                    <a href="{{ post.url }}" class="portfolio-link">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                                                <p>+</p>
                                                <h3>{{ post.title }}</h3>
                                            </div>
                                        </div>
                                        <img src="img/portfolio/{% if post.img-thumb %}{{ post.img-thumb }}{% else %}{{ post.img }}{% endif %}" class="img-fluid" alt="{{ post.alt }}">
                                    </a>
                                </div>
                            {% elsif page.type == "wiki" %}
                                <div class="col-md-10 mx-auto portfolio-item">
                                    <a href="{{ post.url }}" class="no-border portfolio-link" style="max-width:100%">
                                        <p class="post-date">{{ post.date | date: '%B %d, %Y'  }}</p>
                                        <h3>{{ post.title }}</h3>
                                        <p class="post-description">{{ post.description }}</p>
                                    </a>
                                </div>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
