
        <div class="card-columns {% if include.size == "big" %}big{% endif %}">
        {% for person in site.data.people %}

            {% if include.role == "all" %} {% assign role =  person.role %}
            {% else %}                     {% assign role = include.role %}
            {% endif %}

            {% if role == person.role %}
              {% if role == "alumni" %}
              <li>{% if person.url %}<a href="{{ person.url }}" target="_blank">{% if person.doctor == "true" %}{{ Dr. }}{% endif %}{{ person.name }}</a>{% else %}{% if person.doctor == "true" %}{{ Dr. }}{% endif %}{{ person.name }}{% endif %}{% if person.dates %}{{ (person.dates)}}{% endif %}{% if person.now %}, now {{ person.now }}{% endif %}</li>
            {% else %}
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="{% if include.size == "big" %}col-sm-4 ml-auto{% else %}col-sm-4{% endif %}">
                    <img src="{% if person.pic %}/img/people/{{ person.pic }}{% else %}{{ site.logopng }}{% endif %}" class="img-fluid" style="width: 100%; max-width: 280px;" align="middle">
                </div>
                <div class="{% if include.size == "big" %}col-sm-8{% else %}col-sm-8{% endif %}">
                  <div class="card-body">
                    {% if include.size == "big" %}<h2 class="card-title">{{ person.name }}</h2>{% else %}<h3 class="card-title">{{ person.name }}</h3>{% endif %}
                    {% if person.office %}<p class="card-text"><i class="fa fa-fw fa-briefcase"></i> {{ person.office }}</p>{% endif %}
                    {% if person.phone %}<p class="card-text"><i class="fa fa-fw fa-phone"></i>{{ person.phone }}</p>{% endif %}
                    {% if person.email %}<a href="mailto:{{ person.email }}" class="card-link"><i class="fa fa-fw fa-envelope"></i>{{ person.email }}</a>{% endif %}
                    {% if person.url %}<a href="{{ person.url }}" target="_blank" class="card-link"><i class="fa fa-fw fa-home"></i>{{ person.url }}</a>{% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
        </div>
