
        <div class="card-columns {% if include.size == "big" %}big{% elsif include.size == "medium" %}medium{% elsif include.role == "alumni" %}alumni{% endif %}">
        {% for person in site.data.people %}

            {% if include.role == "all" %} {% assign role =  person.role %}
            {% else %}                     {% assign role = include.role %}
            {% endif %}

            {% if role == person.role %}
            {% if role == "alumni" %}{% comment %}This is for alumni, postdoc, and labmanager{% endcomment %}
            <li>{% if person.url %}<a href="{{ person.url }}" target="_blank">{{ person.name }}</a>{% else %}{{ person.name }}{% endif %}{% if person.graduated %}, graduated in {{ person.graduated }}{% endif %}{% if person.nowat %}, now at {{ person.nowat }}{% endif %}.</li>
            {% elsif role == "alumni-spotlight" %}{% comment %}This is for alumni spotlight{% endcomment %}
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-lg-3 ml-auto">
                    <img src="{% if person.pic %}/img/people/{{ person.pic }}{% else %}{{ site.logopng }}{% endif %}" class="img-fluid big-card-img" style="width: 100%;" align="middle">
                </div>
                <div class="col-lg-9">
                  <div class="card-body" style="padding-left: 0;">
                    <h3 class="card-title">{{ person.name }} {% if person.email  %}<a href="mailto:{{ person.email }}"        class="card-link"><i class="fa fa-fw fa-envelope"></i></a>{% endif %}
                      {% if person.url    %}<a href="{{ person.url }}" target="_blank" class="card-link"><i class="fa fa-fw fa-home"    ></i></a>{% endif %}</h3>
                    <p class="card-text">
                      {% if person.graduated %}{{ person.graduated }}{% endif %}{% if person.nowat %}, now {{ person.nowat }}{% endif %}.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% elsif include.size == "big"%}{% comment %}This is for faculty, postdoc, and labmanager{% endcomment %}
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-sm-3 ml-auto">
                    <img src="{% if person.pic %}/img/people/{{ person.pic }}{% else %}{{ site.logopng }}{% endif %}" class="img-fluid big-card-img" style="width: 100%;" align="middle">
                </div>
                <div class="col-sm-9">
                  <div class="card-body">
                    <h2 class="card-title">{{ person.name }}</h2>
                    {% if person.office %}<p class="card-text"><i class="fa fa-fw fa-briefcase"></i> {{ person.office }}</p>{% endif %}
                    {% if person.phone  %}<p class="card-text"><i class="fa fa-fw fa-phone"    ></i> {{ person.phone  }}</p>{% endif %}
                    {% if person.email  %}<p class="card-text"><a href="mailto:{{ person.email }}"        class="card-link"><i class="fa fa-fw fa-envelope"></i> {{ person.email }}</a></p>{% endif %}
                    {% if person.url    %}<p class="card-text"><a href="{{ person.url }}" target="_blank" class="card-link"><i class="fa fa-fw fa-home"    ></i> {{ person.url   }}</a></p>{% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% else %}{% comment %}This is for the default student section{% endcomment %}
            <div class="card mb-3 mx-1">
              <img class="card-img" src="{% if person.pic %}/img/people/{{ person.pic }}{% else %}{{ site.logopng }}{% endif %}" class="img-fluid" style="width: 100%;" align="middle" alt="{{ person.pic }}">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                {% if person.email  %}<a href="mailto:{{ person.email }}"        class="card-link"><i class="fa fa-fw fa-envelope"></i></a>{% endif %}
                {% if person.page or person.url %}
                <a href="{% if person.page %}/{{ person.page }}.html{% elsif person.url    %}{{ person.url }}{% endif %}" target="_blank" class="stretched-link"><i class="fa fa-fw fa-home"     ></i></a>
                {% elsif person.linkedin %}
                <a href="https://www.linkedin.com/in/{{ person.linkedin }}" target="_blank" class="stretched-link"><i class="fa fa-fw fa-linkedin"     ></i></a>
                {% endif %}
                {% if person.page %}<a href="/{{ person.page }}.html" class="card-name">{% endif %}<h3 class="card-title card-name">{{ person.name }}</h3>{% if person.page %}</a>{% endif %}
              </div>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
        </div>
