<h1> Current projects </h2>
<hr class="separating-line">

            {% for item in site.data.research %}
		<h2>{{item.project}}</h2>
		{% if item.webpage %}
		<a href="{{item.webpage}}">Project Page</a>
		{% endif %}
                <div class="row cv-item pub">
                     <div class="col-md-3">
			{% if item.img %}
                        <img src="{{item.img}}" alt="{{item.img_alt}}" style="width:100%;">
			{% endif %}
                     </div>

                     <div class="col-md-9">
                         <p>{{item.blurb}}</p>
			
			{% if item.publications %}
			 <h3>Publications</h3>
			 <ul>
			    {% for pub in item.publications %}
			    <li>
			    {{pub.authors}}. "{{pub.title}}". In {{pub.venue}} {{pub.date}}.
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}
			
			{%if item.funding %}
			<h3>Funded by</h3> 
			<ul>
			    {% for grant in item.funding %}
			    <li>
			    {{grant}}
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}                       
		     </div>
                </div>
            {% endfor %}
