
            {% for item in site.data.publications %}

                {% if include.year == "all" %} {% assign year =    item.year %}
                {% else %}                     {% assign year = include.year %}
                {% endif %}

                {% if year == item.year %}
                    <div class="row cv-item pub">
                        <div class="col-md-3">
                            <h4 class="inlineifprinted">{{item.venue}}</h4>
                            {% if item.where %}<p  class="no-print d-none d-md-block">{{item.where}}</p>{% endif %}
                        </div>

                        <div class="col-md-9">
                            <h2>{{item.title}}{% if item.pdf %}<a class="no-print" href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.pdf" target="_blank"> [PDF]</a><a class="no-print" href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.bib" target="_blank"> [BIB]</a>{% endif %}</h2>
                            <p><i>{{item.authors}}</i><br>
                            {% if item.description %}{{item.description}}{% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
