        {% comment %}
        This file allows you to display publications for a specific subteam. 
        They are not ordered by year, but rather by keywords found in the `subteam` tag in the yml file.
        To use this, include it in your page with the following parameters:
        {% endcomment %}
        {% comment %}
        {% include pubs.html subteam=page.subtype publications=site.data.publications %}
        {% endcomment %}

        {% for item in include.publications %}

            {% if    include.year %}
                {% if    include.year != item.year %}   {% continue %}  {% endif %}
            {% endif %}

            {% if include.subteam %}
                {% assign tobedisplayed = false %}
                {% for subteam in item.subteams %}
                    {% if include.subteam == subteam %}
                        {% assign tobedisplayed = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign tobedisplayed =  true %}
            {% endif %}

                {% if tobedisplayed == true %}
                    <div class="row cv-item pub {% if item.award %}award{% endif %} {% for team in item.subteams %}pub-{{team | replace: ' ', '-'}} {% endfor %}">
                        <div class="col-md-12">
                            <h2>{{item.title}}</h2>
                            <p class="pub-authors"><i>{{item.authors}}</i><br>
                            {% if item.description %}{{item.description}}{% endif %}
                            </p>
                            {% if item.award %}<p class="pub-award"><i class="fa fa-fw fa-trophy"></i> {{item.award}} <i class="fa fa-fw fa-trophy"></i></p> {% endif %}
                            
                            <!-- Badges and Links row -->
                            <div class="pub-actions mt-2 no-print">
                                {% assign pub_type = "other" %}
                                {% for team in item.subteams %}
                                    {% if team == "thesis" or team == "book" %}
                                        {% assign pub_type = "thesis" %}
                                    {% elsif team == "journal" %}
                                        {% assign pub_type = "journal" %}
                                    {% elsif team == "conference" %}
                                        {% assign pub_type = "conference" %}
                                    {% elsif team == "workshop" %}
                                        {% assign pub_type = "workshop" %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% assign type_badge_name = "Other" %}
                                {% if pub_type == "thesis" %}{% assign type_badge_name = "Thesis/Book" %}{% endif %}
                                {% if pub_type == "journal" %}{% assign type_badge_name = "Journal Article" %}{% endif %}
                                {% if pub_type == "conference" %}{% assign type_badge_name = "Conference Paper" %}{% endif %}
                                {% if pub_type == "workshop" %}{% assign type_badge_name = "Workshop Paper" %}{% endif %}
                                <span class="pub-badge pub-badge-{{pub_type}}">{{type_badge_name}}</span>

                                {% assign pub_field = "" %}
                                {% for team in item.subteams %}
                                    {% if team == "embodied intelligence" %}
                                        {% assign pub_field = "embodied-intelligence" %}
                                    {% elsif team == "social intelligence" %}
                                        {% assign pub_field = "social-intelligence" %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% if pub_field != "" and include.hide_subteam_badges != true %}
                                    {% assign field_badge_name = pub_field | replace: "-", " " | upcase %}
                                    <span class="pub-badge pub-badge-{{pub_field}}">{{field_badge_name}}</span>
                                {% endif %}

                                <span class="pub-badge pub-badge-venue">
                                    {{item.year}} {{item.venue}}
                                </span>
                                
                                {% if item.pdf %}<a href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.pdf" target="_blank" class="btn-hiro-outline"><i class="fa fa-fw fa-file-pdf"></i> PDF</a> 
                                <a href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.bib" target="_blank" class="btn-hiro-outline"><i class="fa fa-fw fa-book"></i> BIB</a>{% endif %}
                                {% if item.code %} <a href="{{ item.code }}" target="_blank" class="btn-hiro-outline"><i class="fa fa-fw fa-laptop-code"></i> Code</a>{% endif %}
                                {% if item.url %} <a href="{{ item.url }}" target="_blank" class="btn-hiro-outline"><i class="fa fa-fw fa-link"></i> URL</a>{% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
