        {% comment %}
        This file allows you to display publications for a specific subteam. 
        They are not ordered by year, but rather by keywords found in the `subteam` tag in the yml file.
        To use this, include it in your page with the following parameters:
        {% endcomment %}
        {% comment %}
        {% include pubs-subteam.html subteam=page.subtype publications=site.data.publications %}
        {% endcomment %}

        {% for item in include.publications %}

            {% if    include.year %}
                {% if    include.year != item.year %}   {% continue %}  {% endif %}
            {% endif %}

            {% if include.subteam %}
                {% assign tobedisplayed = false %}
                {% for subteam in item.subteams %}
                    {% if include.subteam == subteam %}
                        {% assign tobedisplayed = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign tobedisplayed =  true %}
            {% endif %}

                {% if tobedisplayed == true %}
                    <div class="row cv-item pub {% if item.award %}award{% endif %} {% if include.subteam %}pub-{{include.subteam}}{% endif %}">
                        <div class="col-md-3">
                            <h4 class="inlineifprinted">{% unless include.year %}{{item.year}} {% endunless %}{{item.venue}}</h4>
                            {% if item.where %}<p  class="no-print d-none d-md-block">{{item.where}}</p>{% endif %}
                        </div>

                        <div class="col-md-9">
                            <h2>{{item.title}}{% if item.pdf %}<a class="no-print" href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.pdf" target="_blank"> [PDF]</a><a class="no-print" href="{% if item.host %}{{ item.host }}{% else %}{{ site.url }}{% endif %}/papers/{{ item.pdf }}.bib" target="_blank"> [BIB]</a>{% endif %}</h2>
                            <p><i>{{item.authors}}</i><br>
                            {% if item.description %}{{item.description}}{% endif %}
                            </p>
                            {% if item.award %}<p class="award"><i class="fa fa-fw fa-xl fa-trophy"></i> {{item.award}} <i class="fa fa-fw fa-xl fa-trophy"></i></p> {% endif %}
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
