<div id="article-img" class="no-print" style="{% if include.max-width%}max-width: {{include.max-width}};{% endif%}">
  <div class="video-container" style="{% if include.description %}margin-bottom: 0px;{% else %}{% if include.margin-bottom%}margin-bottom: {{include.margin-bottom}};{% else %}margin-bottom: 20px;{% endif%}{% endif %} margin-top: 0px; {% if include.padding-bottom%}padding-bottom: {{include.padding-bottom}};{% endif%} {% if include.width%}{{include.width}}{% endif%}">
    <iframe width="{{include.width}}" height="{{include.height}}" class="img img-centered" src="{{ include.url }}?showinfo=0&amp;rel=0&amp;vq=hd1080" frameborder="0" allowfullscreen style="margin-bottom: 0px;"></iframe>
  </div>
  {% if include.description %}
  <p class="img-caption" style="margin-bottom: 20px;">{{ include.description }}</p>
  {% endif %}
</div>
