<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}

    {% if page.type == "home" or page.type == "research" or page.type == "wiki" or page.type == "news" %}
      {% include portfolio.html %}
    {% elsif page.type == "publications" or page.type == "people" %}
      {{ content }}
    {% elsif page.type == "cv" %}
      {% include cv.html %}
    {% else %}
      {% include article.html %}
    {% endif %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
